.indexbox {
  position : absolute;
  display : flex;
  align-items: center;
  animation: pulsate 1.5s infinite alternate;  
  border: 0.2rem solid #fff;
  box-shadow: 0 0 .2rem #fff,
            0 0 .2rem #fff,
            0 0 2rem rgb(4, 174, 235),
            0 0 0.8rem rgb(4, 174, 235),
            0 0 2.8rem rgb(4, 174, 235),
            inset 0 0 1.3rem rgb(4, 174, 235);
  width : 40%;
  height: 40%;
  margin-left: 10rem;
  margin-top: 6rem;
  border-radius: 3rem;

  }
  
  
.indexText {
  font-size: calc(5vw + 5vh);
  margin-left: calc(3vw);
  animation: flicker 1.5s infinite;
  animation-fill-mode : forwards;
  color: #fff;
}

/* Flickering animation */
@keyframes flicker {
    
  0%, 18%, 22%, 25%, 53%, 57%, 100% {

      text-shadow:
      0 0 4px #fff,
      0 0 11px #fff,
      0 0 19px #fff,
      0 0 40px rgb(4, 174, 235),
      0 0 80px rgb(4, 174, 235),
      0 0 90px rgb(4, 174, 235),
      0 0 100px rgb(4, 174, 235),
      0 0 150px rgb(4, 174, 235);
  
  }
  
  20%, 24%, 55% {        
      text-shadow: none;
  }    
}